@{
    ViewData["Title"] = "About";
    
}
@model KidsClubApplication.Models.SuMessage

<!--Page Title-->
    <section class="page-title" style="background-image:url(images/banner3.jpg); border-image-width: 10%;">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Pages</li>
                    <li>About</li>
                </ul>
                <h1>About</h1>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- About Section Three-->
    <section class="about-section-three">
        <div class="auto-container">
            <div class="upper-box">
                <div class="row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInLeft">
                        <figure class="image"><img src="~/images/about/about-img-1.jpg" alt=""></figure>
                    </div>
                    <div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInRight">
                        <figure class="image"><img src="~/images/about/about-img-3.jpg" alt=""></figure>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="title-column col-lg-4 col-md-6 col-sm-12">
                    <div class="sec-title">
                        <span class="title">About Us</span>
                        <h2>Since 2020 to maintain the culture, language and identity for
                            our Fijian children. </h2>
                    </div>
                </div>
                <div class="skill-column col-lg-4 col-md-6 col-sm-12">
                    <!--Skills-->
                    <div class="skills">
                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Education</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="98">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="98"></div></div>
                            </div>
                        </div>
                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Language & Culture</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="88">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="88"></div></div>
                            </div>
                        </div>
                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Music & Fun</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="78">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="78"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-column col-lg-4 col-md-12 col-sm-12">
                    <div class="text">There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form by injected humour or randomised words which don't look even slightly believable need to be sure there isn't anything embarrassing hidden in the middle of text. All the lorem ipsum generators on the Internet.</div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section Three -->

    <!-- Video Section -->
    <section class="video-section">
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">Watch Video</span>
                            <h2>Southland Kaiviti Kids Club Make Difference in the Life of Child</h2>
                        </div>
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image-box wow fadeInLeft">
                            <figure class="image"><a href="https://www.youtube.com/watch?v=gV5MGo1faW0" class="lightbox-image"><img src="~/images/about/video-img.jpg" alt=""><span class="play-btn fa fa-play"></span></a></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Video Section -->
    <!-- Call To Action -->
    <section class="call-to-action">
        <div class="parallax-scene parallax-scene-1 anim-icons">
            <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
            <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
        </div>

        <div class="auto-container">
            <div class="content-box">
                <span class="title">Join Our New Session</span>    
                <h2>Call For More Information <br><span>022 496 6109</span></h2>
                <div class="btn-box"><a href="programs.html" class="theme-btn btn-style-two">View More</a></div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

<!-- Program Section -->
    <section class="program-section alternate">
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="title">Meet Our Awesome people</div>
                <h2>Our Teachers</h2>
            </div>
            <div class="row">
                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/images/resource/sai.PNG" alt=""></figure>
                        </div>
                        <div class="lower-content">
                            <h4>Saverio Koroiadi</h4>
                            <div class="text">Bula <br>
                                My name is Saverio Koroiadi, and I was born in Suva, Fiji. I arrived in Southland 2009 and live
                                with my fiancé Marina and our daughter Anahlea. I currently work as a teacher aide with special
                                needs children. I enjoy listening to Fijian music, singing, play or watching rugby, spending time with
                                families &amp; friends, and at little DIY around my home. Kaiviti Kids Club is important for our new
                                generation, I get to share and pass down my knowledge and experience onto the children, so they
                                have a better understanding of their culture. Vinaka</div>
                            <ul class="program-info">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="paper-plates-art.html"><img src="~/images/resource/marina.PNG" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="paper-plates-art.html">Marina Marie</a></h4>
                            <div class="text">Bula <br>
                                My name is Marina Marie, and I am a teacher at a special needs school. I was born in
                                Southland, and my ethnicity is Cook Island/Kiwi. My fiancé is Saverio, and we have a beautiful
                                daughter Anahlea. In my spare time I enjoy art &amp; crafts, listening to music, singing, walking, and
                                spending time with my family. Being part of the team for Kaiviti Kids Clubs is important, as it allows
                                growth and a sense of belonging within our Pacific community. It gives me the opportunity to learn
                                the Fijian language, their culture, and understand their values. It also allows my daughter along with
                                the other children to understand and be proud of their identity in a fun learning environment.
                                Vinaka.</div>
                            <ul class="program-info">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone"></span></a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="create-cartoon-egg.html"><img src="~/images/resource/tua.PNG" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="create-cartoon-egg.html">Talemaitoga Tuapati</a></h4>
                            <div class="text">Bula <br>
                                My name is Talemaitoga Tuapati and I am from Moce, Lau Fiji. I have lived in
                                New Zealand since 2006, with 5 years spent living in France with Sarah and my
                                boys. I am a former international/professional rugby player and now I am a welder
                                and fabricator. In my spare I enjoy playing and coaching rugby, hanging out with
                                family and friends. I want our kids to learn and understand our culture and form
                                strong bonds with other Kai Viti kids..</div>
                            <ul class="program-info">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="cooking-fun-cake.html"><img src="~/images/resource/sarah.PNG" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="cooking-fun-cake.html">Sarah Tuapati</a></h4>
                            <div class="text">Bula <br>
                                My name is Sarah Tuapati, I am married to Talemaitoga and we have two
                                boys. I was born in Southland and work as an events coordinator. In my spare time I
                                love to get involved in sports, playing netball, scoring cricket and watching my
                                husband and kids play their sports. We also love to explore and go on walks
                                together. Being apart of the Kai Viti kids club is so important to us as it means our
                                kids, learn about their culture and where they are from, while we live here in New
                                
                                Zealand.</div>
                            <ul class="program-info">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="super-colors-game.html"><img src="~/images/resource/nei.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="super-colors-game.html">Losalini Faith Cokanasiga</a></h4>
                            <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                            <ul class="program-info">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="learning-disciplines.html"><img src="~/images/resource/team3.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="learning-disciplines.html">Mereseini Qereqeretabua</a></h4>
                            <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                            <ul class="program-info">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Program Section -->







@*<div class="row g-0 pt-5 pb-5 fs-6 justify-content-md-center messagebox">
    <div class="col-3 text-white text-end lh-lg pe-3">
        <h1 class="fs-4">NewsLetter</h1>
        <p>DON'T MISS OUR FUTURE UPDATES!</p>
        <p>GET SUBSCRIBED TODAY!</p>

    </div>
    <div class="col-6">
        <form asp-controller="About" asp-action="SubscribeMessage" method="post">
            <div class="pb-4 pt-2 row g-0">
                <div class="form-floating col pe-4">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="name@example.com">
                    <label for="Email">Email address</label>
                </div>
            </div>
            <div class="pb-4"><button type="submit" class="btn btn-light text-uppercase">subscribe</button></div>
        </form>
    </div>
</div>*@