@{
    ViewData["Title"] = "Home Page";
}



<body>



    <!--Main Slider-->
    <section class="main-slider">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1681" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/banner1">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/banner1.jpg">
                        
                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['30','15','15','15']"
                        data-voffset="['140','0','0','0']"
                        data-x="['left','left','left','left']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-sun"></span>
                        </div>

                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="shape"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['-80','15','15','15']"
                        data-voffset="['200','0','0','0']"
                        data-x="['right','right','right','right']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-rainbow"></span>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['650','650','650','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-210','-210','-150','-140']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="title">Welcome to Southland Kaiviti Kids Club</div>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['750','750','750','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-25','-25','-25','-25']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>Great Place for Your Child to Grow at</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="normal"
                        data-width="['650','650','650','450']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['190','190','130','120']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="link-box"><a href="about.html" class="theme-btn btn-style-one">Learn More</a></div>
                        </div>
                    </li>

                    <!-- Slide 1 -->
                    <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1682" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/banner1.jpg">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/banner1.jpg">
                        
                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['30','15','15','15']"
                        data-voffset="['140','0','0','0']"
                        data-x="['left','left','left','left']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-sun"></span>
                        </div>

                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="shape"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['-80','15','15','15']"
                        data-voffset="['200','0','0','0']"
                        data-x="['right','right','right','right']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-rainbow"></span>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['650','650','650','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-210','-210','-150','-140']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="title">Welcome to Southland Kaiviti Kids Club</div>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['750','750','750','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-25','-25','-25','-25']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>Great Place for Your Child to Grow at</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="normal"
                        data-width="['650','650','650','450']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['190','190','130','120']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="link-box"><a href="about.html" class="theme-btn btn-style-one">Learn More</a></div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->

      <!-- About Section Two -->
      <section class="about-section-two" id="about-section">
        <div class="auto-container">
            <div class="parallax-scene parallax-scene-1 anim-icons">
                <span data-depth="0.20" class="parallax-layer icon icon-rainbow-3"></span>
                <span data-depth="0.40" class="parallax-layer icon icon-star-2"></span>
                <span data-depth="0.30" class="parallax-layer icon icon-star-5"></span>
                <span data-depth="0.50" class="parallax-layer icon icon-plane-2"></span>
            </div>

            <div class="sec-title text-center">
                <span class="title">Southland Kaiviti Kids Club</span>
                <h2>Welcome to Southland Kaiviti <br>Kids Club</h2>
            </div>

            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Our Outcomes:</div>
                        <ul class="list-style-two">
                            <li> To learn the language and culture through singing, dance and art</li>
                            <li>To have deep connections to their language, culture and identity</li>
                            <li>To develop meaningful relationships with each other through our Fijian ways of knowing, being and doing.</li>
                        </ul>
                        <div class="btn-box"><a href="about.html" class="theme-btn btn-style-one">Discover More</a></div>
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image-box">
                            <figure class="image wow fadeInLeft"><img src="images/banner3.jpg" alt=""></figure>
                            <figure class="image2 wow fadeInRight"><img src="images/banner3.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section Two -->


    <!-- Program Section -->
    <section class="program-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Select Activities</span>
                <h2>Our Activities</h2>
            </div>

            <div class="row">
                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="numbers-matching.html"><img src="images/resource/program-1.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="numbers-matching.html">Numbers Matching</a></h4>
                            <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                            <ul class="program-info">
                                <li><span>Age:</span> 2-3 years</li>
                                <li><span>Time:</span> 9:00-11:00</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="paper-plates-art.html"><img src="images/resource/program-2.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="paper-plates-art.html">Paper Plates Art</a></h4>
                            <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                            <ul class="program-info">
                                <li><span>Age:</span> 2-3 years</li>
                                <li><span>Time:</span> 9:00-11:00</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="create-cartoon-egg.html"><img src="images/resource/program-3.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="create-cartoon-egg.html">Create Egg Cartoon</a></h4>
                            <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                            <ul class="program-info">
                                <li><span>Age:</span> 2-3 years</li>
                                <li><span>Time:</span> 9:00-11:00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <a href="programs.html" class="theme-btn btn-style-one">View All Programs</a>
            </div>
        </div>
    </section>
    <!--End Program Section -->


    <!-- Fluid Section One -->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            
            
            <!--Content Column-->
            <div class="content-column">
                <div class="parallax-scene parallax-scene-2 anim-icons">
                    <span data-depth="0.50" class="parallax-layer icon icon-cloud-2"></span>
                    <span data-depth="0.30" class="parallax-layer icon icon-cloud-3"></span>
                    <span data-depth="0.20" class="parallax-layer icon icon-butterfly"></span>
                    <span data-depth="0.40" class="parallax-layer icon icon-star-6"></span>
                </div>
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title light">
                        <div class="title">Things For Kids</div>
                        <h2>Kids Activites</h2>
                    </div>
                    <div class="text">There are many variations of passages of lorem ipsum available but the majority have suffered alteration is simply free text in the web market in some form.</div>
                    <ul class="list-style-one">
                        <li>Table/Floor Toys</li>
                        <li>Outdoor Games</li>
                        <li>Sand Play</li>
                        <li>Play Dough</li>
                        <li>Building Blocks</li>
                        <li>Water Play</li>
                    </ul>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column">
                <div class="inner-column" style="background-image:url(images/banner4.jpg);">
                    <figure class="image-box"><img src="images/banner4.jpg" alt=""></figure>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fluid Section One -->

    

    

    <!-- Call To Action -->
    <section class="call-to-action">
        <div class="parallax-scene parallax-scene-3 anim-icons">
            <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
            <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
        </div>

        <div class="auto-container">
            <div class="content-box">
                <span class="title">Join Our New Session</span>    
                <h2>Call For Further Information <span>666 8888 000</span></h2>
                <div class="btn-box"><a href="programs.html" class="theme-btn btn-style-two">View All Programs</a></div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

     <!-- Event Section -->
     <section class="events-section">
        <div class="auto-container">
            <div class="sec-title light text-center">
                <span class="title">Here's our news</span>
                <h2>Our News</h2>
            </div>

            <div class="row">
                <!-- Event Block -->
                <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/event-1.jpg" alt=""></figure>
                        </div>
                        <div class="content-box">
                            <div class="date">16-18 April 2021</div>
                            <h4><a href="event-detail.html">Omaui Camp</a></h4>
                            <ul class="event-info">
                                <li><span>Time:</span> 9:00-11:00</li>
                                <li><span>Location:</span> Omaui</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/event-2.jpg" alt=""></figure>
                        </div>
                        <div class="content-box">
                            <div class="date">12 December, 2021</div>
                            <h4><a href="event-detail.html">Raffles Tickets Draw</a></h4>
                            <ul class="event-info">
                                <li><span>Time:</span> 9:00-11:00</li>
                                <li><span>Location:</span> Blues Rugby Club</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Event Block -->
                <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/event-3.jpg" alt=""></figure>
                        </div>
                        <div class="content-box">
                            <div class="date">10 October 2021</div>
                            <h4><a href="event-detail.html">Fiji Day Celebration</a></h4>
                            <ul class="event-info">
                                <li><span>Time:</span> 9:00-11:00</li>
                                <li><span>Location:</span> PIACT</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/event-4.jpg" alt=""></figure>
                        </div>
                        <div class="content-box">
                            <div class="date">10 October 2021</div>
                            <h4><a href="event-detail.html">Fijian Language Week Fun Day</a></h4>
                            <ul class="event-info">
                                <li><span>Time:</span> 10:00-3:00</li>
                                <li><span>Location:</span> Fernworth Primary School</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box text-center">
                <a href="events.html" class="theme-btn btn-style-one">View All News</a>
            </div>
        </div>
    </section>
    <!--End Event Section -->   







<script src="~/js/jquery.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!--Revolution Slider-->
<script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="~/js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/jquery.fancybox.js"></script>
<script src="~/js/owl.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/appear.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/js/script.js"></script>
</body>